<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Builder</title>
</head>
<body>

<div>
    <label for = "qType">What type of question would you like to add?</label>                                                                                                                                                      >Question Type</label>
    <select id="qtype" name="qType">
        <option value="multiple choice">Multiple Choice</option>
        <option value="check mark">Check Mark</option>
        <option value="true or false">True or False</option>
        <option value="long answer">Long Answer</option>
    </select>
</div>

</body>
</html>