<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Builder</title>
</head>
<body>

<div>
    <label                                                                                                                                                      >Question Type</label>
    <select th:field = "*{qType}">
        <option>Multiple Choice</option>
        <option>True or False</option>
        <option>Checkmark</option>
    </select>
</div>

</body>
</html>